<!DOCTYPE html>
<html lang="en">

<head>
    <title>NHL Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="top-bar">
        <a href="/" style="margin-left: 2%"><b>Home</b></a>
    </div>

    <div class="match-container">
        {% for game in data %}

        <div class="match">

            <div class="match-top-bar">

                <div style="background-color: {{ game.home.colour }};"  class="match-team">
                    <img src="{{ game.home.logo }}" alt="">
                </div>

                <div class="match-score">
                    {% if game.status == 0 %}
                        <p>| - |</p>
                    {% else %}
                        <p>{{game.home.score}} - {{game.away.score}}</p>
                    {% endif %}
                </div>

                <div style="background-color: {{ game.away.colour }};" class="match-team">
                    <img src="{{ game.away.logo }}" alt="">
                </div>
            </div>

            <div class="match-clock">
                {% if game.state == 0 %}
                    <p>{{game.start}}</p>
                {% elif game.state == 1 %}
                    <p>{{game.clock}}</p>
                {% else %}
                    <p>FINAL</p>
                {% endif %}
            </div>

            <div class="match-shots">
                {% if game.state != 0 %}
                    <p style="width: 20%;">{{game.home.sog}}</p>
                    <p style="width: 80%;">Shots On Goal</p>
                    <p style="width: 20%;">{{game.away.sog}}</p>
                {% endif %}
            </div>

            <div class="match-shots-bar">
                {% if game.state != 0 %}
                    {% if game.home.sog == 0 and game.away.sog == 0 %}
                    <div style="background-color: {{ game.home.colour }}; width: 50%;"></div>
                    <div style="background-color: {{ game.away.colour }}; width: 50%;"></div>
                    {% else %}
                    <div style="background-color: {{ game.home.colour }}; width: {{ (game.home.sog / (game.away.sog + game.home.sog)) * 100 }}%;"></div>
                    <div style="background-color: {{ game.away.colour }}; width: {{ (game.away.sog / (game.away.sog + game.home.sog)) * 100 }}%;"></div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="match-goals">
                {% if game.state != 0 %}
                    {% for goal in game.goals %}

                        {% if goal.period > 0 %}
                            {% if game.type != 3 %}
                                {% if goal.period == 4 %}
                                    <h1 class="period">Overtime</h1>
                                {% elif goal.period == 5 %}
                                    <h1 class="period">Shootout</h1>
                                {% else %}
                                    <h1 class="period">Period {{goal.period}}</h1>
                                {% endif %}
                            {% else %}
                                {% if goal.period > 3 %}
                                    <h1 class="period">Overtime {{goal.period - 3}} </h1>
                                {% else %}
                                    <h1 class="period">Period {{goal.period}} </h1>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if goal.team == game.home.name %}
                            <p style="text-align: left;" class="goal">{{goal.goal}}</p>

                            {% if goal.assist != 0 %}
                                <p style="text-align: left;" class="assist">{{goal.assist}}</p>
                            {% endif %}

                        {% else %}
                            <p style="text-align: right;" class="goal">{{goal.goal}}</p>

                            {% if goal.assist != 0 %}
                                <p style="text-align: right;" class="assist">{{goal.assist}}</p>

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        {% endfor %} 

   </div>
</body>
</html>