<!DOCTYPE html>
<html lang="en">

<head>
    <title>NHL Schedule</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="top-bar">
        <a href="/"class="home"><b>Home</b></a>
        <div class="date">
            <a href="/scores/{{data.back}}"style="width: 15%;height: 100%;">
                <svg width="100%"height="100%"viewBox="0 0 24 24"fill="none"xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 19L8 12L15 5"stroke="white"stroke-width="3"stroke-linecap="round"stroke-linejoin="round"/>
                </svg>
            </a>
            <p>{{data.now}}</p>
            <a href="/scores/{{data.next}}"style="width: 15%;height: 100%;">
                <svg width="100%"height="100%"viewBox="0 0 24 24"fill="none"xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 5L16 12L9 19"stroke="white"stroke-width="3"stroke-linecap="round"stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="scores" id="scores-container">
        {% for game in data.games %}

        <div class="match">

            <div class="teams">
                <div style="background-color:{{game.home.colour}};"class="team">
                    <img src="{{game.home.logo}}"alt="">
                </div>
                <div class="score">
                    {% if game.status == 0 %}
                        <p>| - |</p>
                    {% else %}
                        <p>{{game.home.score}} - {{game.away.score}}</p>
                    {% endif %}
                </div>
                <div style="background-color:{{game.away.colour}};"class="team">
                    <img src="{{game.away.logo}}"alt="">
                </div>
            </div>
            
            <div class="clock">
                {% if game.state == 0 %}
                    <p>{{game.start}}</p>
                {% elif game.state == 1 %}
                    <p>{{game.clock}}</p>
                {% else %}
                    <p>FINAL</p>
                {% endif %}
            </div>

            <div class="shots">
                {% if game.state != 0 %}
                    <p style="width: 20%;">{{game.home.sog}}</p>
                    <p style="width: 80%;">Shots On Goal</p>
                    <p style="width: 20%;">{{game.away.sog}}</p>
                {% endif %}
            </div>

            <div class="bar">
                {% if game.state != 0 %}
                    {% if game.home.sog == 0 and game.away.sog == 0 %}
                    <div style="background-color:{{game.home.colour}};width:50%;"></div>
                    <div style="background-color:{{game.away.colour}};width:50%;"></div>
                    {% else %}
                    <div style="background-color:{{game.home.colour}};width:{{(game.home.sog/(game.away.sog+game.home.sog))*100}}%;"></div>
                    <div style="background-color:{{game.away.colour}};width:{{(game.away.sog/(game.away.sog+game.home.sog))*100}}%;"></div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="goals">
                {% if game.state != 0 %}
                    {% for goal in game.goals %}

                        {% if goal.period > 0 %}
                            {% if game.type != 3 %}
                                {% if goal.period == 4 %}
                                    <h1 class="period">Overtime</h1>
                                {% elif goal.period == 5 %}
                                    <h1 class="period">Shootout</h1>
                                {% else %}
                                    <h1 class="period">Period {{goal.period}}</h1>
                                {% endif %}
                            {% else %}
                                {% if goal.period > 3 %}
                                    <h1 class="period">Overtime {{goal.period - 3}} </h1>
                                {% else %}
                                    <h1 class="period">Period {{goal.period}} </h1>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if goal.team == game.home.name %}
                            <p style="text-align:left;"class="goal">{{goal.goal}}</p>

                            {% if goal.assist != 0 %}
                                <p style="text-align:left;"class="assist">{{goal.assist}}</p>
                            {% endif %}

                        {% else %}
                            <p style="text-align:right;"class="goal">{{goal.goal}}</p>

                            {% if goal.assist != 0 %}
                                <p style="text-align:right;"class="assist">{{goal.assist}}</p>

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        
        {% endfor %} 

   </div>

   <script>
        const ScoresContainer = document.getElementById("scores-container")
        const Key = "SCORES_SCROLL_POSITION:{{data.now}}"

        window.addEventListener('load', () => {
            const Position = sessionStorage.getItem(Key);
            if (Position) {
                ScoresContainer.scrollLeft = parseInt(Position, 10);
            }
        });

        ScoresContainer.addEventListener('scroll', () => {
            sessionStorage.setItem(Key, ScoresContainer.scrollLeft);
        });
   </script>

</body>
</html>