<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Standings</title>
</head>
<body>

    <div class="top-bar">
        <a href="/" style="margin-left: 2%"><b>Home</b></a>
    </div>

    <div class="standings">

        <div class="filter">
            <a style="color: #FFFFFF; text-decoration: underline;" href="javascript:void(0);"><b>League</b></a>
            <a href="/standings/conference"><b>Conference</b></a>
            <a href="/standings/division"><b>Division</b></a>
        </div>

        <div class="info">
            <p class="position"><b>Pos.</b></p>
            <p class="team"><b>Team</b></p>
            <p class="stat"><b>P</b></p>
            <p class="stat"><b>GP</b></p>
            <p class="stat"><b>W</b></p>
            <p class="stat"><b>L</b></p>
            <p class="stat"><b>OTL</b></p>
            <p class="stat"><b>GF</b></p>
            <p class="stat"><b>GA</b></p>
            <p class="stat"><b>GD</b></p>
        </div>

        <div class="list">
            {% for team in data %}
                {% if team.league_position % 2 == 0 %}
                    <div class="team">
                {% else %}
                    <div class="team" style="background-color: rgba(161, 161, 161, 0.1);">
                {% endif %}
                        <p class="position"><b>{{ team.league_position }}</b></p>
                        <img src="{{ team.logo }}" alt="" >
                        <p class="name">{{ team.name }}</p>
                        <p class="stat">{{ team.points }}</p>
                        <p class="stat">{{ team.played }}</p>
                        <p class="stat">{{ team.wins }}</p>
                        <p class="stat">{{ team.losses }}</p>
                        <p class="stat">{{ team.otl }}</p>
                        <p class="stat">{{ team.for }}</p>
                        <p class="stat">{{ team.against }}</p>
                        <p class="stat">{{ team.differential }}</p>
                    </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>